/*EStilos para utilizar dentro del index*/

#header img{
    width: 80px;
}

.text-emp {
    color: #669999 !important;
}

body{
    background: #660099;
}

/* Estilos para imagenes del Carousel */
#main .carousel-inner img{
    max-height: 80vh;
    object-fit: cover;
    filter: grayscale(70%);
}

#carousel {
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

/* Centrar texto dentro del carousel */
#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

/* Estilo para la seccion del place time */
#place-time{
    background-color: #779CA1;
    color: white;
}

#place-time img{
    max-width: 100%;
}

#footer{
    background: #666666;
}

#footer a{
    /*text-decoration: none;*/
    color: azure;
}