/*EStilos para utilizar dentro del index*/

#header img{
    width: 80px;
}

.text-emp {
    color: #669999 !important;
}

body{
    background: #660099;
}

/* Estilos para imagenes del Carousel */
#main .carousel-inner img{
    max-height: 80vh;
    object-fit: cover;
}

#footer{
    background: #666666;
}

#footer a{
    /*text-decoration: none;*/
    color: azure;
}